<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Poker Homepage</title>
</head>
<style>
    .box{
        margin:0 auto;
        width:350px;
        padding:20px;
        background:#f9f9f9;
        border:2px solid #333;
    }
</style>
<body>
    <h1>Poker Homepage</h1>
    <form action="/logout" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit">Logout</button>
    </form>
    <a href="/game">Game</a>

<div class ="box">
    <form action="/pregame" method="get">
        <input type="hidden" name="requestType" value="joinGame">
        <input type="hidden" name="username" th:value="${username}">
        <h2>Join A Game.</h2>
        <select name ="games" id="games">
            <option value = "-1">Select Game Lobby to Join</option>
            <option th:each="game : ${homepagebean.getGames()}"
                    th:value ="${game.getGameId()}"
                    th:text="${game.gameOwner}"></option>
        </select>
        <button type="submit">Join Game</button>
    </form>
</div>

<div class="box">
    <form action="/pregame" method="get">
        <input type="hidden" name="requestType" value="createGame">
        <input type="hidden" name="username" th:value="${username}">
        <h2>Create a new game for others to join.</h2>
        <button type="submit">Create Game</button>
    </form>
</div>


</body>
</html>