<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <form action="" method="post" style="max-width: 350px; margin: 0 auto;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <p>Login to Poker Application</p>
            <div th:if="${param.error != null}">
                Username or Password is incorrect.
            </div>
            <div th:if="${param.logout != null}">
                You have been logged out successfully.
            </div>
            <p>
                <input type="username" id="username" name="username" class="form-control" placeholder="Username" required autofocus/>
            </p>
            <p>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary" />
            </p>
    </form>
</body>
</html>