<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head><title></title></head>
<style>
.maincontainer
{
  width:98%;
  min-width:98%;
  max-width:98%;
  height:90%;
  height:95vh;
  min-height:95%;
  overflow:hidden;
  padding:1%;
  margin:0;
  display: -webkit-flex;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-self:auto;
  align-items:flex-start;
  align-content:flex-start;
  background-color:grey;
}

.opponentarea
{
  width:98%;
  min-width:98%;
  max-width:98%;
  height:46.25%;
  min-height:46.25%;
  overflow:hidden;
  padding:1%;
  margin:0;
  background-color:GhostWhite;
}

.myarea
{
  width:98%;
  min-width:98%;
  max-width:98%;
  height:46.25%;
  min-height:46.25%;
  overflow:hidden;
  padding:1%;
  margin:0;
  background-color:CadetBlue;
}

.innercontainer {
  display: grid;
  grid-template-columns: repeat(6, 315px);
  height: 400px;
  width: 1900px;
  gap: 2px;
  grid-template-areas:
    "a b c d e f";
  align-content: end;
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}
.item5 {
  grid-area: e;
}
.item6 {
  grid-area: f;
}

</style>

<body>
<script> setTimeout(function(){window.location.href= '/game'}, 10000); </script>

<div th:if="${session.gamebean.getGs().name() == 'GAMEOVER'}">
    <div class="maincontainer">
        <div class="opponentarea">
            <div class="innercontainer">
            </div>
        </div>
        <div class="myarea">
            <div class="innercontainer">
                <div class ="item1">
                    <h1> <label th:text="${session.gamebean.getGameWinner()} + ' has won the game.'"></label></h1>
                    <form action="/game" method="post">
                        <input type="hidden" name = "requestType" th:value="${session.gamebean.getGs().name()}">
                        <input type="hidden" name = "gameID" th:value="${session.gamebean.getGameID()}"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <span th:text="'Message from server: ' + ${session.gamebean.getMessage()}"></span>
                        <button type="submit">Exit Game</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:unless="${session.gamebean.getGs().name() == 'GAMEOVER'}">
    <div th:if="${#strings.equals(session.gamebean.getUserTurn(), session.gamebean.getUser())}">
        <div th:if="${session.gamebean.getGs().name() == 'BETONE' or session.gamebean.getGs().name() == 'BETTWO'}">
            <div class="maincontainer">
                <div class="opponentarea">
                    <div class="innercontainer">
                        <div class="item1"> <span th:text="'Opponent\'s Money: $' + ${session.gamebean.getOpponentMoney()}"> </span></div>
                        <div class="item2"><img src="Cardback.png" width="200" height="350"></div>
                        <div class="item3"><img src="Cardback.png" width="200" height="350"></div>
                        <div class="item4"><img src="Cardback.png" width="200" height="350"></div>
                        <div class="item5"><img src="Cardback.png" width="200" height="350"></div>
                        <div class="item6"><img src="Cardback.png" width="200" height="350"></div>
                    </div>
                </div>
                <div class="myarea">
                    <form action="/game" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" name = "requestType" value="FOLD">
                        <input type="hidden" name = "gameID" th:value="${session.gamebean.getGameID()}"/>
                        <button type="submit">Fold</button>
                    </form>
                    <form action="/game" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" name = "requestType" th:value="${session.gamebean.getGs().name()}">
                        <input type="hidden" name = "gameID" th:value="${session.gamebean.getGameID()}"/>
                        <div class="innercontainer">
                            <div class ="item1">
                            <h1>It's your turn to bet.</h1>
                                <button type="submit">Bet</button>
                                    <input type="number" min=0 name="betamount">
                                <ul>
                                    <li><span th:text="'Your Cash: $' + ${session.gamebean.getMyMoney()}"></span></li>
                                    <li><span th:text="'Current Pot: $' + ${session.gamebean.getCurrentPot()}"></span></li>
                                    <li><span th:text="'Message from server: ' + ${session.gamebean.getMessage()}"></span> </li>
                                </ul>
                            </div>
                            <div class="item2"><img th:src="@{${session.gamebean.getHand()[0].lookupFile()}}" width="200" height="350"> </div>
                            <div class="item3"><img th:src="@{${session.gamebean.getHand()[1].lookupFile()}}" width="200" height="350"> </div>
                            <div class="item4"><img th:src="@{${session.gamebean.getHand()[2].lookupFile()}}" width="200" height="350"> </div>
                            <div class="item5"><img th:src="@{${session.gamebean.getHand()[3].lookupFile()}}" width="200" height="350"> </div>
                            <div class="item6"><img th:src="@{${session.gamebean.getHand()[4].lookupFile()}}" width="200" height="350"> </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div th:if="${session.gamebean.getGs().name() == 'DRAW'}">
            <div class="maincontainer">
                <div class="opponentarea">
                    <div class="innercontainer">
                        <div class="item1"> <span th:text="'Opponent\'s Cash: $' + ${session.gamebean.getOpponentMoney()}"> </span></div>
                        <div class="item2"><img src="Cardback.png" width="200" height="350"></div>
                        <div class="item3"><img src="Cardback.png" width="200" height="350"></div>
                        <div class="item4"><img src="Cardback.png" width="200" height="350"></div>
                        <div class="item5"><img src="Cardback.png" width="200" height="350"></div>
                        <div class="item6"><img src="Cardback.png" width="200" height="350"></div>
                    </div>
                </div>
                <div class="myarea">
                    <form>
                        <div class="innercontainer">
                                <div class ="item1">
                                    <h1>Discard up to 5 cards</h1>
                                    <button type="submit">Submit</button>
                                    <ul>
                                        <li><span th:text="'Your Cash: $' + ${session.gamebean.getMyMoney()}"></span></li>
                                        <li><span th:text="'Current Pot: $' + ${session.gamebean.getCurrentPot()}"></span></li>
                                        <li><span th:text="'Message from server: ' + ${session.gamebean.getMessage()}"></span> </li>
                                    </ul>
                                </div>
                                <div class="item2"><img th:src="@{${session.gamebean.getHand()[0].lookupFile()}}" width="200" height="350"> <input type="checkbox" id="card0" name="card0" value="0"> </div>
                                <div class="item3"><img th:src="@{${session.gamebean.getHand()[1].lookupFile()}}" width="200" height="350"> <input type="checkbox" id="card1" name="card1" value="1"> </div>
                                <div class="item4"><img th:src="@{${session.gamebean.getHand()[2].lookupFile()}}" width="200" height="350"> <input type="checkbox" id="card2" name="card2" value="2"> </div>
                                <div class="item5"><img th:src="@{${session.gamebean.getHand()[3].lookupFile()}}" width="200" height="350"> <input type="checkbox" id="card3" name="card3" value="3"> </div>
                                <div class="item6"><img th:src="@{${session.gamebean.getHand()[4].lookupFile()}}" width="200" height="350"> <input type="checkbox" id="card4" name="card4" value="4"> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:if="${session.gamebean.getGs().name() == 'SHOWHAND'}">
            <div class="maincontainer">
                <div class="opponentarea">
                    <div class="innercontainer">
                        <div class="item1">
                            <h1> <label th:text="${session.gamebean.getOpponent()} + '\'s hand.'"> </label> </h1>
                            <span th:text="'Opponent\'s Cash: $' + ${session.gamebean.getOpponentMoney()}"></span>
                        </div>
                        <div class="item2"><img th:src="@{${session.gamebean.getOpponentHand()[0].lookupFile()}}" width="200" height="350"> </div>
                        <div class="item3"><img th:src="@{${session.gamebean.getOpponentHand()[1].lookupFile()}}" width="200" height="350"> </div>
                        <div class="item4"><img th:src="@{${session.gamebean.getOpponentHand()[2].lookupFile()}}" width="200" height="350"> </div>
                        <div class="item5"><img th:src="@{${session.gamebean.getOpponentHand()[3].lookupFile()}}" width="200" height="350"> </div>
                        <div class="item6"><img th:src="@{${session.gamebean.getOpponentHand()[4].lookupFile()}}" width="200" height="350"> </div>
                    </div>
                </div>
                <div class="myarea">
                        <div class="innercontainer">
                            <div class ="item1">
                                <h1> <label th:text="${session.gamebean.getHandWinner()} + ' has won with a ' + ${session.gamebean.getWinningHand().getName()} + '.'"></label></h1>
                                <ul>
                                    <li><span th:text="'Your Cash: $' + ${session.gamebean.getMyMoney()}"></span></li>
                                    <li><span th:text="'Current Pot: $' + ${session.gamebean.getCurrentPot()}"></span></li>
                                    <li><span th:text="'Message from server: ' + ${session.gamebean.getMessage()}"></span> </li>
                                </ul>
                            </div>
                            <div class="item2"><img th:src="@{${session.gamebean.getHand()[0].lookupFile()}}" width="200" height="350"></div>
                            <div class="item3"><img th:src="@{${session.gamebean.getHand()[1].lookupFile()}}" width="200" height="350"></div>
                            <div class="item4"><img th:src="@{${session.gamebean.getHand()[2].lookupFile()}}" width="200" height="350"></div>
                            <div class="item5"><img th:src="@{${session.gamebean.getHand()[3].lookupFile()}}" width="200" height="350"></div>
                            <div class="item6"><img th:src="@{${session.gamebean.getHand()[4].lookupFile()}}" width="200" height="350"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div th:unless="${#strings.equals(session.gamebean.getUserTurn(), session.gamebean.getUser())}">
        <div class="opponentarea">
            <div class="innercontainer">
                <div class="item1"> <span th:text="'Opponent\'s' + ${session.gamebean.getOpponentMoney()}"> </span></div>
                <div class="item2"><img src="Cardback.png" width="200" height="350"></div>
                <div class="item3"><img src="Cardback.png" width="200" height="350"></div>
                <div class="item4"><img src="Cardback.png" width="200" height="350"></div>
                <div class="item5"><img src="Cardback.png" width="200" height="350"></div>
                <div class="item6"><img src="Cardback.png" width="200" height="350"></div>
            </div>
        </div>
        <div class="myarea">
                <div class="innercontainer">
                    <div class ="item1">
                        <h1>Waiting for your turn.</h1>
                        <ul>
                            <li><span th:text="'Your Cash: $' + ${session.gamebean.getMyMoney()}"></span></li>
                            <li><span th:text="'Current Pot: $' + ${session.gamebean.getCurrentPot()}"></span></li>
                            <li><span th:text="'Message from server: ' + ${session.gamebean.getMessage()}"></span> </li>
                        </ul>
                    </div>
                    <div class="item2"><img th:src="@{${session.gamebean.getHand()[0].lookupFile()}}" width="200" height="350"> </div>
                    <div class="item3"><img th:src="@{${session.gamebean.getHand()[1].lookupFile()}}" width="200" height="350"> </div>
                    <div class="item4"><img th:src="@{${session.gamebean.getHand()[2].lookupFile()}}" width="200" height="350"> </div>
                    <div class="item5"><img th:src="@{${session.gamebean.getHand()[3].lookupFile()}}" width="200" height="350"> </div>
                    <div class="item6"><img th:src="@{${session.gamebean.getHand()[4].lookupFile()}}" width="200" height="350"> </div>
                </div>
        </div>
    </div>
</div>



</body>
</html>