<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript">
        $(function (){
            $("#loginAccount").click(function () {
                window.location.href = "/login";
            });
        });
    </script>
    <script type="text/javascript">
        $(function (){
            $("#createAccount").click(function () {
                window.location.href = "/register";
            });
        });
    </script>
    <script>setTimeout(function(){window.location.href= '/login'}, 1000);</script>
</head>
    <body>
        <h1>Welcome Login or Register Here!</h1>
        <button type="button" class="btn btn-primary" id="loginAccount">Login Account</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-secondary" id="createAccount">Create Account</button>
    </body>
</html>